@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                a:hover {
                    border-bottom: 2px $main-color solid;
                    color: $main-color;
                }
            }
        }
       
    }
   
}


@media (max-width: 1102px) {
    .app {
        &__menu {
            margin-right: 6rem;
        }
        &__title {
            margin-left: 2rem;
        }
    }
    
}

@media (max-width: 994px) {
    .app {
        &__menu {
            padding-right: 16rem;
        }
        &__title {
            margin-left: 2rem;
        }
    }
    
}




#dark {
    background-color: rgb(38, 33, 33);
}